@import "mixin";

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    width: 100%;
}
.flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.footer_inner {
    padding: 20px;
}

main {
    flex: 1 0 auto;

    .new_game {
        margin-top: 20px;
    }
}

.auth {
    background: #eee;
    height: 150px;
    width: 250px;
    margin: 200px auto;
    box-shadow: 1px 0 10px rgba(0,0,0,0.5);

    .title {
        width: 100%;
        height: 50px;
        padding: 10px;
        font-size: 1em;
        text-align: center;
    }
}

footer {
    flex: 0 0 auto;
}

.text-lg-left { text-align: left }
.text-lg-center { text-align: center }
.text-lg-right { text-align: right }

footer {
    font-size: 1em;
}

.auth_block {
    margin-top: 20px;
    font-size: 20px;
}

.title {
    padding-left: 20px;
}

.users_block {
    width: 230px;
    height: 135px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    border: 2px solid transparent;
    margin: 0 auto;
    padding: 20px;
    background: #ddd;

    .image {
        text-align: center;

        img {
            border-radius: 25px;
        }
    }

    .name {
        margin-top: 15px;
        text-align: center;
    }
}

#clickGame {
    @include transitional(0.3s);
}

#circle {
      width:100px;
     height:100px;
     display:block;
     border-radius:50px;
     -moz-border-radius:50px;
     -webkit-border-radius:50px;
     -khtml-border-radius:50px;
     font-size:20px; color:#fff;
     line-height:100px;
     text-align:center;
     background:#000
    }
#myCanvas {
    padding: 50px;
}

.clock {
    @include transitional(0.3s);
    font-size: 50px;
    color: green;
    div {
        display: inline-block;
    }
}

.clock_middle {
    color: orange;
}

.clock_danger {
    color: red;
}

.selectPlayer {
    border: 2px solid #333;
}

.block_canvas {
    pointer-events: none!important;
}

.hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .hover_hover {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: #666;
        opacity: 0.7;
        height: inherit;
        width: inherit;
    }

    .resultGames {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        width: inherit;
        height: inherit;

        .blockResultGames{
            text-align: center;
            width: 500px;
            height: 400px;
            border-radius: 50px;
            background: #ddd;
            margin: 50px auto;

            .list_players {
                margin-top: 60px;
                .tables {
                    .columns {
                        img {  border-radius: 50px }
                        padding: 10px!important;
                    }
                }
            }
        }
    }
}

.show_hover {
    display:block;
}

.content_blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

